/* Limpar formatações padrões */
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f3f3f3;
}

#navegacao {
	background: #fff;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;
}

#area {
	margin: 0 auto;
	width: 720px;
}

#area-principal {
	margin: 55px auto 10px auto;
	width: 720px;
}

#logo {
	float: left;
}

#menu {
	float: right;
	padding: 10px 0;
}

#postagem {
	background: #fff;
	padding: 10px;
	margin-bottom: 10px;
}

/*Formatação do Menu*/

a {
	text-decoration: none;
	padding: 5px 10px;
}

/*Links não visitados*/
a:link {
	color: #838383;
}

/*Links visitados*/
a:visited {
	color: #838383;
}

/*Links ativos*/
a: active {
	color: #535353;
}

/*Links hover*/
a:hover {
	background: #b9c941;
	color: #fff;
}


/*Classes*/
.green {
	color: #b9c941;
}

.data-postagem {
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.img-postagem {
	float: left;
	margin: 0 10px 5px 0;
}

.postado {
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}

@media (prefers-color-scheme:  dark){
	body {
		background-color: #010101;
		color: #f0ece2;
	}

	#navegacao {
		background-color: #111111;
		color: #f0ece2;
	}

	#postagem {
		background-color: #111111;
	}

	img {
    	filter: brightness(0.9);
  	}
}